extends ../layout

block content
    .container-fluid
        .row.col-sm-10.col-sm-offset-1
            h1 #{journey.journey_name}
                small &emsp;#{journey.client_name}
        .row.col-sm-10.col-sm-offset-1
            a(href="/journey/journey_requirements/" + journey.id).btn.btn-primary Requirements
            span &emsp;
            select(id="vendors", data-live-search="true", multiple="true", title="Select one or more vendors", data-width="50%").selectpicker
                each vendor in vendors
                    option(value=vendor.vendor_id) #{vendor.vendor_name} (#{vendor.status_name})
            span &emsp;
            button(onclick="addVendors()").btn.btn-primary Add Vendor
            span &emsp;
            button(data-toggle="modal", data-target="#uploadResponses").btn.btn-primary Upload Responses
        .row.col-sm-10.col-sm-offset-1
            table#table.table.table-striped.table-condensed
    div(role="dialog")#uploadResponses.modal.fade
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button(type="button", data-dismiss="modal").close &times;
                    h4.modal-title Upload Responses
                div.modal-body
                    p Format must be CSV: Requirement ID | Vendor ID | Response Value | Response Comment
                    form(action="/api/journey/upload_responses/" + journey.id, method="post", enctype="multipart/form-data")
                        div.form-group
                            label(for="upload_file").control-label.col-sm-3 Select a file
                            div.col-sm-9
                                input(type="file", name="upload_file", accept=".csv").form-control
                        div.form-group
                            div.col-sm-9.col-sm-offset-2
                                button(type="submit").btn.btn-primary Upload
                div.modal-footer
                    button(type="button", data-dismiss="modal").btn.btn-default Close

block scripts
    <!-- BOOTSTRAP TABLE -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <!-- EXPORT -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>

    <!-- FILTER -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/extensions/filter-control/bootstrap-table-filter-control.js"></script>

    <!-- EDITABLE -->
    <link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/extensions/editable/bootstrap-table-editable.js"></script>
    <script src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>

    <!-- ROLES.js -->
    script(src="../../javascript/busjour/requirementsResponses.js")